* {
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    border-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.nav-bar-container {
    background-color: rgb(207, 194, 255);
    padding: 5px;
    padding-left: 60px;
    padding-right: 10%;
    z-index: 1000;
    position: sticky;
    top: 0;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px; 
    height: 20px;
    cursor: pointer;
}
.hamburger-menu span {
    height: 3px;
    border-radius: 1px;
    background-color: rgb(152, 80, 180);
    display: none;
}
.nav-bar li {
    display: inline-block;
}
.nav-bar a {
    color: rgb(255, 255, 255);
    padding-left: 35px;
}
.nav-bar a:hover {
    color: rgb(148, 225, 255);
    transition: 0.2s;
}
.nav-logo p {
    font-weight: bold;
    user-select: none;
    color: rgb(255, 255, 255);
    font-size: 40px;
}
.section-about {
    background-image: url("about-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.content-1-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}
.spaces {
    width: 100%;
    height: 50px;
}
.arn-profile {
    width: 250px;
    height: 250px;
    align-self: center;
    animation: slide-in 1s ease-in-out forwards;
}
.arn-profile img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid rgb(158, 140, 224);
    box-shadow: 0px 0px 20px;
    color: rgb(38, 97, 150);
}
.about-description {
    width: 800px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}
.about-description p {
    background-color: white;
    padding: 20px;
    box-shadow: 10px 10px;
    color: rgb(169, 146, 207);
    border-radius: 20px;
    animation: slide-out 1s ease-in forwards;
}
.about-title {
    color: rgb(183, 122, 252);
    font-size: 30px;
    text-shadow: 2px 2px aqua;
    animation: slide-upper 1s ease-in forwards;
} 
.github-button {
    width: 700%;
    display: flex;
    justify-content: right;
    padding-right: 100px;
    padding: 20px;
}
.github-button button {
    width: 200px;
    height: 50px;
    box-shadow: 5px 5px;
    color: rgb(169, 146, 207);
    background-color: rgb(189, 178, 252);
    border-radius: 50px;
    animation: fadeIn 2s ease-in forwards;
}
.github-button a {
    color: white;
}
.github-button a:hover {
    color: rgb(148, 225, 255);
    transition: 0.2s;
}
.section-prelim {
    background-image: url("prelim-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.content-2-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}
.titles {
    width: 100%;
    height: 70px;
}
.titles h1 {
    color: rgb(183, 122, 252);
    text-shadow: 2px 2px aqua;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.prelim-box-1.animated {
    width: 250px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    align-self: center;
    box-shadow: 10px 10px;
    color: rgb(169, 146, 207);
    border-radius: 20px;
    animation: slide-in 1s ease-in forwards;
}
.prelim-1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.prelim-1-container h1 {
    text-align: center;
}
.prelim-1-container p {
    text-align: center;
}
.prelim-1 {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.prelim-box-2.animated {
    width: 250px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    align-self: center;
    box-shadow: 10px 10px;
    color: rgb(169, 146, 207);
    border-radius: 20px;
    animation: slide-upper 1s ease-in forwards;
}
.prelim-2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.prelim-2-container h1 {
    text-align: center;
}
.prelim-2-container p {
    text-align: center;
}
.prelim-2 {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.prelim-box-3.animated {
    width: 250px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    align-self: center;
    box-shadow: 10px 10px;
    color: rgb(169, 146, 207);
    border-radius: 20px;
    animation: slide-out 1s ease-in forwards;
}
.prelim-3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.prelim-3-container h1 {
    text-align: center;
}
.prelim-3-container p {
    text-align: center;
}
.prelim-3 {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.empty-space {
    width: 100%;
    height: 50px;
    align-self: center;
}
.section-midterm {
    background-image: url("midterm-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.content-3-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.carousel-container {
    width: 100%;
    height: 500px;
}
.carousel-cell {
    width: 800px;
    height: 400px;
    margin-right: 30px;
    background: white;
    align-self: center;
    border-radius: 20px;
    border: 8px solid rgb(169, 146, 207);
    counter-increment: gallery-cell;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}
.carousel-cell img {
    width: 50%;
    max-width: 400px;
    height: auto;
}
.carousel-cell h1 {
    color: rgb(169, 146, 207);
    font-size: 30px;
}
.carousel-cell p {
    color: rgb(169, 146, 207);
    font-size: 1rem;
}
.section-prefinals {
    background-image: url("prefinals-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.content-4-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.prefinals-image {
    width: 400px;
    height: 1000px;
}
.image-prefinals.animated {
    width: 100%;
    height: auto;
    box-shadow: 20px 20px;
    color: rgb(169, 146, 207);
}
.section-finals {
    background-image: url("finals-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.content-5-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}
.finals-box-1.animated {
    width: 250px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    align-self: center;
    box-shadow: 10px 10px;
    color: rgb(169, 146, 207);
    border-radius: 20px;
    animation: slide-in 1s ease-in forwards;
}
.finals-1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.finals-1-container h1 {
    text-align: center;
}
.finals-1-container p {
    text-align: center;
}
.finals-1 {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.finals-box-2.animated {
    width: 250px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    align-self: center;
    box-shadow: 10px 10px;
    color: rgb(169, 146, 207);
    border-radius: 20px;
    animation: slide-out 1s ease-in forwards;
}
.finals-2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.finals-2-container h1 {
    text-align: center;
}
.finals-2-container p {
    text-align: center;
}
.finals-2 {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.ending {
    width: 100%;
    height: 50px;
    align-self: center;
}
.ending-container {
    justify-content: center;
    display: flex;
    align-items: center;
}
.ending-container p {
    font-size: 1rem;
    color: rgb(169, 146, 207);
    text-align: center;
}
@keyframes slidershow {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-150%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes slide-out {
    0% {
      opacity: 0;
      transform: translateX(150%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes slide-upper {
    0% {
      opacity: 0;
      transform: translateY(150%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@media (max-width: 768px) {
    .nav-bar-container {
        padding: 5px;
        padding-left: 30px;
        padding-right: 3%;
    }
    .hamburger-menu span {
        display: block;
    }
    .nav-logo p {
        font-size: 30px;
    }
    .nav-bar ul {
        position: fixed;
        display: none;
        width: 100%;
        height: 50vh;
        top: 45px;
        left: 0;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(110, 104, 104, 0.5);
    }
    .nav-bar ul.active {
        display: flex;
    }
    .nav-bar li {
        display: flex;
        justify-content: space-evenly;
    }
    .nav-bar li a {
        padding: 0;
    }
    .content-1-container {
        gap: 0;
    }
    .about-description {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-description h1 {
        font-size: 2rem;
        text-align: center;
    }
    .about-description p {
        font-size: 1rem;
        padding-right: 0px;
    }
    .github-button {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .github-button button {
        width: 150px;
        height: 40px;
        padding: 5px;
    }
    .carousel-cell {
        width: 500px;
        height: 300px;
    }
}
@media (max-width: 479px) {
    .about-description {
        height: 600px;
    }
    .titles h1 {
        font-size: 2rem;
    }
    .carousel-cell h1 {
        font-size: 20px;
    }
    .carousel-cell {
        width: 200px;
        height: 400px;
    }
}